.btn{
    margin-left: 15px;
    border: none;
    padding: 15px;
    background-color: rgb(179, 179, 179);
    font-size: 15px;
    border-radius: 5px;
}

.text_color{
    color: #bd3d3d
}

.text_color:hover{
    color:rgb(36, 111, 46);
    background-color:  rgb(220, 220, 220);
}

.active{
    background-color: rgb(39, 159, 49);
}




